html {
  scroll-behavior: smooth;
}
.farsi-font {
  --font-locale:  Iran Sans, "Segoe UI", Tahoma, sans-serif, sans-serif;
  font-family: 'var(--font-locale, var(--font-geist-sans)), sans-serif'
}
.arabic-font {
  --font-locale: Cairo, "Segoe UI", Tahoma, sans-serif, sans-serif;
  font-family: 'var(--font-locale, var(--font-geist-sans)), sans-serif'
}
.english-font {
  --font-locale: 'Geist', "Geist Fallback", sans-serif;
  font-family: 'var(--font-locale, var(--font-geist-sans)), sans-serif'
}
.ltr-input,.ltr-input * {
  direction: ltr !important;
  text-align: left !important;
}

.ltr-direction,.ltr-direction * {
  direction: ltr !important;
  text-align: left !important;
}

.rtl-direction,.rtl-direction * {
  direction: rtl !important;
  text-align: right !important;
}